.banner {
    border: solid;
    border-color: black;
    border-radius: 20px;
    width: auto;
    background-color: #858c36;
    color: #eeeeee;
    justify-content: center;
}

.logo {
    height: 150px;
    width: auto;
    margin: 5px;
    border-radius: 2px;
}

/* Color Palette
.swamp-green { 
	background: #b4c593; 
}
	
.nile-blue { 
	background: #183848; 
}

.sycamore { 
	background: #858c36; 
}

.nandor { 
	background: #4b554f; 
}
*/